<%
	const defaultTextSizes = ["11", "12", "14", "16", "18", "20", "22", "24", "28", "32", "36", "40", "44", "48", "60", "72"];
	const fontFamilies = ["Calibri", "Century gothic", "Times New Roman", "Arial", "Arial black", "Century", "Consolas", "Corbel", "Ebrima", "Forte", "Gadugi", "Lucida Console", "Lucida Bright", "Lucida Fax", "Lucida Calligraphy"];
%>

<div class="offcanvas offcanvas-start" tab-index="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasLabel">Tyli - Note editor</h5>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<form action="" method="put" class="d-flex flex-row">
			<input type="text" class="form-control mr-2" placeholder="Folder name">
			<button class="btn btn-sm btn-danger">
				<span class="bi-folder-minus"></span>
				<span class="d-none d-md-inline"> Delete folder</span>
			</button>
		</form>
		<hr>
		<div>
			<h6>Here are your latest notes</h6>
			<div class="d-flex flex-column p-4">
				<% notes.forEach((note) => {%>
					<div class="d-flex d-row mb-3" role="group">
					  <button class="btn btn-secondary rounded-0">
					  	<span class="bi-trash"></span>
					  </button>
					  <button class="btn btn-primary rounded-0"><%= note.noteTitle %></button>
					</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>


<div class="w-100 p-3">
	<div class="d-flex flex-row mb-3">
		<button class="btn btn-sm btn-primary me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
			<span class="bi-files"></span>
			<span class="d-none d-md-inline"> File</span>
		</button>
		<form method="post" class="d-flex flex-row me-2">
			<input type="text" class="form-control form-control-sm" placeholder="Nom dossier" name="noteFolder" required>
			<input type="hidden" name="noteTitle" value="" id="noteTitle">
			<input type="hidden" name="noteContent" value="" id="noteContent">
			<button class="btn btn-sm btn-primary" onclick="saveNote()" type="submit">
				<span class="bi-save"></span>
				<span class="d-none d-md-inline"> save</span>
			</button>
		</form>
	</div>
	<div class="w-100">
		<div class="d-flex flex-row overflow-x-auto" style="min-width: 100%">
			<div class="me-2 d-flex">
				<select name="text-font-family" id="text-font-family" onchange="changeFontFamily()" >
					<optgroup>
						<% fontFamilies.forEach((font) => { %>
							<option value="<%= font %>" style="font-family: <%= font %>"><%= font %></option>
						<% }) %>
					</optgroup>
				</select>
				<select name="text-size" id="text-size" onchange="changeFontSize()">
					<optgroup>
						<% defaultTextSizes.forEach((textSize) => { %>
							<option value="<%= textSize %>"><%= textSize %></option>
						<% }) %>
					</optgroup>
				</select>
			</div>
			<button class="style-btn me-2" id="text-bold" data-action="bold" data-tag-name="" data-style="" onclick="textToBold()">
				<span class="bi-type-bold"></span>
			</button>
			<button class="style-btn me-2" data-action="italic" id="text-italic" data-tag-name="" data-style="" onclick="textToItalic()">
				<span class="bi-type-italic"></span>
			</button>
			<button class="style-btn me-2" data-action="underline"  id="text-underline" onclick="underlineText()">
				<span class="bi-type-underline"></span>
			</button>
			<div class="d-flex flex-column me-2">
				<span class="fs-6 bi-fonts text-center"></span>
				<input id="text-color" type="color" name="" placeholder="" onchange="changeColor()">
			</div>
			<div class="d-flex flex-row">
				<div class="style-btn me-2 center">
					<label for="img">
						<span class="bi-image me-2"></span>
					</label>
					<input class="form-control inputfile" type="file" name="" value="" placeholder="" id="img" onchange="insertImg()">
				</div>
			</div>
		</div>
	</div>
</div>