<%- include("../partials/head") %>
	<div class="container">
		<%- include("../partials/header") %>
		<div class="pt-4">
			<ul class="nav nav-tabs" id="app-dev-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="pages-handler-tab" data-bs-toggle="tab" data-bs-target="#pages-handler" type="button" role="tab" aria-controls="pages-handler" aria-selected="true">
						Pages handler
					</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="code-editor-tab" data-bs-toggle="tab" data-bs-target="#code-editor" type="button" role="tab" aria-controls="code-editor" aria-selected="false">
						Code editor
					</button>
				</li>
			</ul>
			<div class="tab-content" id="app-dev-tab-content">
				<div class="tab-pane fade show active" id="pages-handler" role="tabpane1" aria-labelledby="pages-handler-tab">
					<div class="pt-2">
						<%- include("../partials/app-dev/pages-handler") %>
					</div>
				</div>
				<div class="tab-pane fade show" id="code-editor" role="tabpane1" aria-labelledby="code-editor-tab">
					<div class="pt-2">
						<%- include("../partials/app-dev/code-editor") %>
					</div>
				</div>
			</div>

		</div>
	</div>
<%- include("../partials/foot") %>